<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Travel Itinerary</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/ItinStyle.css">
</head>
<body>
<header>
    <h1>Travel Itinerary</h1>
</header>
<div class="container destination-dates">
    <div class="section destination-dates">
        <h2>Destination</h2>
        <p id="destination"></p>
        <h2>Dates</h2>
        <p id="dates"></p>
    </div>
    <div class="section destination-image">
    </div>
</div>
<div class="container transportation">
    <div class="section transportation">
        <h2>Travel</h2>
        <p id="transportation"></p>
        <p id="flight-details"></p>
    </div>
    <div class="section transportation-image">
    </div>
</div>
<div class="container accommodation">
    <div class="section accommodation">
        <h2>Hotel</h2>
        <p id="hotel"></p>
        <p id="check-in"></p>
        <p id="check-out"></p>
    </div>
    <div class="section accommodation-image">
    </div>
</div>
<div class="section activitiesANDdining">
    <h2>Activities</h2>
    <div id="activitiesANDdining">
    </div>
</div>
<script src="/javascripts/ItinPage.js"></script>
</body>
</html>

